:root {
  --primary-color: #5fc2b1;
  --secondary-color: #1f8c7d;
  --tertiary-color: #007163;
  --background-color: #f0fcf9;
  --just-white: #ffffff;
  --just-black: #000000;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
  font-family: "Raleway", sans-serif;
}

header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-width: 320px;
  height: 60px;
  text-align: center;
  background-color: var(--primary-color);
  box-shadow: 2px 2px 5px #002f249d;
}
.header-title {
  font-size: 4.5rem;
  font-weight: 900;
  color: var(--just-white);
}

main {
  width: 100%;
  height: auto;
  background-color: var(--background-color);
}
.main-info {
  width: 100%;
  height: auto;
  padding-top: 3.5rem;
  padding-bottom: 3.5rem;
  text-align: center;
}
.main-info h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 2.2rem;
  font-weight: 500;
  margin-bottom: 0.7rem;
}
.main-info p {
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
  font-weight: 300;
}
.main-ops {
  width: 100%;
  min-width: 320px;
  height: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.card {
  width: 45rem;
  margin: 0 2rem 4rem;
  padding: 15px;
  font-family: "Montserrat", sans-serif;
  font-size: 1.4rem;
  font-weight: 300;
  border: 2px solid var(--secondary-color);
  background-color: var(--just-white);
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(28, 36, 34, 0.16);
  align-items: center;
  position: relative;
}
form .info-ops {
  width: 90%;
  margin-left: 30px;
  margin-bottom: 10px;
}
.icon-ops {
  position: absolute;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-bottom: 3.5rem;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.square {
  background-image: url("../assets/Shapes/square.png");
}
.triangle {
  background-image: url("../assets//Shapes/triangle.png");
}
.circle {
  background-image: url("../assets/Shapes/circle.png");
}
.isoscelesTriangle {
  background-image: url("../assets/Shapes/isoscelestriangle.png");
}
.equilateralTriangle {
  background-image: url("../assets/Shapes/equilateraltriangle.png");
}
.rectangle {
  background-image: url("../assets/Shapes/rectangle.png");
}
.metric {
  width: 10px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 1.4rem;
  font-weight: 500;
}
form input {
  width: 92%;
  padding-left: 0.5rem;
  border: 2px solid var(--primary-color);
  background-color: var(--just-white);
  color: var(--just-black);
}
form input:focus {
  outline: none;
  border: 2px solid var(--tertiary-color);
}
form button,
form input {
  height: 30px;
  margin-top: 20px;
  font-family: "Montserrat", sans-serif;
  font-size: 1.4rem;
  font-weight: 300;
  border-radius: 4px;
  line-height: 1.8rem;
}
form button {
  width: 100%;
  border: 2px solid var(--secondary-color);
  background-color: var(--primary-color);
  color: var(--just-white);
}
form button:hover {
  border: 2px solid var(--tertiary-color);
  background-color: var(--secondary-color);
  font-weight: 500;
  cursor: pointer;
}

/*Media queries*/

@media only screen and (max-width: 670px) {
  .header-title {
    font-size: 2.5rem;
  }
  .main-info h3 {
    font-size: 1.8rem;
  }
  .main-info p {
    font-size: 1rem;
    margin: 0 1rem;
  }
  .card {
    font-size: 0.8rem;
  }
  .metric {
    font-size: 0.8rem;
  }
  form button,
  form input {
    font-size: 0.8rem;
  }
}
